<nav class="bg-gray-800 rounded-lg">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <!-- Mobile menu button-->
                <button type="button"
                    class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                    aria-controls="mobile-menu" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>

                    <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">

                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a href="/" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                            aria-current="page">Home</a>

                        <a href="/about"
                            class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">About</a>

                        <a href="/project"
                            class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Projects</a>

                        <a href="/contact"
                            class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Contact</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pt-2 pb-3">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
                aria-current="page">Home</a>

            <a href="/about"
                class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">About</a>

            <a href="/project"
                class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Projects</a>

            <a href="/contact"
                class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Contact</a>
        </div>
    </div>
</nav>

<div class='lg:text-center '>
    <h2 class='text-lg font-semibold text-indigo-600'>MERN/MEAN Stack Developer</h2>
    <p class='mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl'>Nitin Singh Chuahan</p>
    <p class='mt-4 max-w-2xl text-l text-gray-500 lg:mx-auto'>I am a Developer
        and Photographer from India based in Toronto, Canada at Georgian College
        right now and continuing my education in computer programming. In my free time you can find me
        doing
        <a href='https://www.pexels.com/@photographwithart/' class='text-indigo-800'>
            Photography
        </a>
        , at the park doing exercise 🏋️‍♂️, at the beach for me time 🏖 or on photo walk
        and meetups in Toronto
        <a href='/contact' class='text-indigo-800'>
            Contact Me
        </a>
        So that we can Discuss our upcoming projects and requirements

    </p>

</div>
<div class="bg-white">
  <div class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-y-16 gap-x-8 py-24 px-4 sm:px-6 sm:py-32 lg:max-w-7xl  lg:px-8" >
    <div>
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl lg:text-4xl text-center">Technical Skills</h2>
      <p class="mt-2 text-gray-500 text-center">I have learned
        many langugaes like swift, java, c++,c#,Javascript, mainframe I have learn
        full stack development with MERN/MEAN stack. I am learning new technologies
        day by day to improve my self daily basis</p>
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl py-10 text-center">Qualification</h2>
      <dl class="mt-2 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">College</dt>
          <dd class="mt-2 text-sm text-gray-500">Georgian College</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Course</dt>
          <dd class="mt-2 text-sm text-gray-500">Computer Programming with Co-op<br> --CMPG--</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Major</dt>
          <dd class="mt-2 text-sm text-gray-500">Computer programming langugaes</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Minor</dt>
          <dd class="mt-2 text-sm text-gray-500">Communication and General Subjects</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Awards</dt>
          <dd class="mt-2 text-sm text-gray-500">Featured in Dean's List with 85.5%</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Other Skills</dt>
          <dd class="mt-2 text-sm text-gray-500">PhotoShop, Lightroom, Devinci Resolve</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
